<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Productos</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Gestor de Productos</h1>
        <nav>
            <a href="/products">All products</a> |
            <a href="/realtimeproducts">Add Product</a>
        </nav>
    </header>
    
    <main>
        {{{body}}}
    </main>
</body>
</html>
